/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=MuseoModerno:wght@600&display=swap&family=Ubuntu&display=swap');
/*HEADER*/
#nav_main{
	background-color: #343a40 !important
}
#nav_main li a{
	font-family: 'MuseoModerno', cursive !important;
	color: white !important;
	border-bottom: 2px solid #343a40;
	transition: .3s all
}
#nav_main .navbar-brand img{
	margin-top: -0.3em;
}
#nav_main li a:hover{
	border-bottom-color: white
	
}
@media only screen and (min-width: 993px){
	#nav_main #nav_collapse_main{
		flex-flow: row-reverse !important;
	}
}
/*CONTENT*/
.sections_main{
	padding-top: 5em;
	padding-bottom: 10em;
}
/*->ALL*/
body{
	background-color: #343a40 !important
}
h1{
	font-family: 'Ubuntu', sans-serif;
	margin-bottom: 1em;
}
h1, h3, p{
	color: white;
	text-align: center;
}
label{
	color: white
}
/*->INICIO*/
#inicio{
	text-align-last: center;
	background: url("../imgs/space.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
#inicio h1{
	font-size: 5em;
}
#inicio p{
	font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}
#inicio .btn{
	font-size: 1.5em;
	border: 2px solid #13011c;
	color: white;
	background-color: rgba(255, 193, 7, 0.8) !important
}
/*SERVICOS*/
#servicos{
	background-color: #f0f0f0
}
@media only screen and (max-width: 992px){
	#servicos .col-sm-12{
		margin-bottom: 1em;
	}
}
#servicos h1{
	color: black
}
#servicos .card-title{
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	text-align: center;
}
#servicos_card_bronze .card-header{
	background-color: #d46610bf;
}
#servicos_card_prata .card-header{
	background-color: #b9b4b4e0;
}
#servicos_card_ouro .card-header{
	background-color: #ffc107;
}
#servicos .card-header{
    color: white;
    font-size: 1.3em;
}
#servicos .card p{
	color: black !important
}
#servicos .btn-orcamento{
	text-align: center;
}
#servicos li{
	list-style: none;
}
#servicos li:before {
  content: ""; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
/*FOOTER*/
#footer_main{
	margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;

}
#footer_main span{
	 color: white !important
}